/*couleurs*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

/* HEADER */
header {
  height: 4rem;
  text-align: center;
  box-shadow: 1px 0 0.5rem #7e7e7e;
}

.header_logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
  padding-top: 0.5rem;
}

/* FOOTER */
.footer {
  width: 100%;
  color: white;
  background-color: #353535;
  padding: 1.2rem;
  padding-left: 2.5rem;
  padding-bottom: 3rem;
  font-family: "Roboto";
}

footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.cc {
  font-size: 1.2rem;
  list-style-type: none;
  line-height: 2rem;
}

.decorationnone {
  text-decoration: none;
  color: white;
}

.space {
  margin-right: 1rem;
}

.lienfooter {
  margin-bottom: 1.5rem;
}

.localite {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  background-color: #eaeaea;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 1px 0 0.5rem #7e7e7e;
}

.explorateur {
  height: 23rem;
  padding-top: 2.6rem;
  text-align: center;
  background-color: #f6f6f6;
}
.explorateur h2 {
  font-weight: bold;
  font-size: 1.7rem;
}
.explorateur p {
  font-size: 1.1rem;
  color: #606060;
  margin-top: 1.5rem;
}

.explorateur_btn {
  width: 75%;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  margin-top: 3rem;
  border-radius: 3rem;
  border: none;
  box-shadow: 1px 0 0.5rem #7e7e7e;
  background-image: linear-gradient(#ff79da, #9356dc);
}

.explorateur_btn:hover {
  transform: scale(1.06);
  transition: 300ms;
  cursor: pointer;
}

.tutoriel {
  padding: 3rem 0;
}
.tutoriel h2 {
  font-weight: bold;
  font-size: 1.7rem;
  padding-left: 2rem;
  padding-bottom: 1.8rem;
}

.tuto {
  display: flex;
  flex-wrap: wrap;
}

.tutoriel_text {
  text-align: center;
}

.tuto li {
  display: flex;
  width: 88%;
  margin-left: 8%;
  padding: 1.5rem;
  padding-left: 2rem;
  font-size: 1.2rem;
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  box-shadow: 1px 0 0.5rem #7e7e7e;
}
.tuto li:hover {
  cursor: pointer;
  background-color: #f5edff;
  transform: scale(1.04);
  transition: 300ms;
}
.tuto li:hover .i_tuto {
  color: #9356dc;
}
.tuto li .i_tuto :hover {
  color: #9356dc;
}

.interv {
  margin-bottom: 1.5rem;
}

.bb {
  display: flex;
  position: absolute;
  gap: 1rem;
}

.tuto .number {
  background-color: #9356dc;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 1rem;
  color: white;
  border-radius: 100%;
  text-align: center;
  position: relative;
  left: -3rem;
}

.restaurants {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 1rem;
  margin-top: 0px;
}
.restaurants h2 {
  font-weight: bold;
  font-size: 1.7rem;
  padding-left: 1.8rem;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.h2 {
  margin-left: 2.5%;
}

.restaurants_container {
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.restaurants_contenu {
  position: relative;
}

.restaurants_contenu p {
  color: #606060;
  font-size: 1.3rem;
}

.menu_contenu {
  box-shadow: 1px 0 0.5rem #7e7e7e;
}

.test {
  box-shadow: 1px 0 0.5rem #7e7e7e;
}

.index_heart {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  padding-right: 2rem;
}

.index_heart .far {
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
  color: #353535;
}

.index_heart .fas {
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.4s;
}

.fas:hover {
  opacity: 1;
}

.restaurants_cards {
  width: 88%;
  height: 10%;
  height: 400px;
  background-color: white;
  border-radius: 2.5rem;
  margin-bottom: 2.5rem;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 1px 0 0.5rem #7e7e7e;
  text-decoration: none;
}
.restaurants_cards:hover {
  transform: scale(1.04);
  transition: 400ms;
}

.restaurants_cards_textensemble {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-bottom: 1.2rem;
  padding-top: 0.6rem;
}

.restaurants_cards_img {
  height: 73%;
  width: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurants_contenu h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #353535;
}

/* Mention NOUVEAU */
.restaurants_mention {
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  width: 100px;
  height: 10%;
  padding-top: 0.3rem;
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.container_img_resto1 {
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-image: url("/ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.container_img_resto2 {
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-image: url("/ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.container_img_resto3 {
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-image: url("/ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.container_img_resto4 {
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-image: url("/ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.container_img_resto img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.menu_container {
  width: 100%;
  background-color: #f6f6f6;
  margin-top: -60px;
  border-radius: 3rem 3rem 0 0;
  padding-bottom: 4rem;
}

.resto_titreglob {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand";
  font-size: 1.7rem;
}
.resto_titreglob h2 {
  font-family: "Shrikhand";
  margin-left: 8%;
  margin-top: 2rem;
}

.restaurants_heart {
  width: auto;
  height: auto;
  position: absolute;
  top: 2.3rem;
  right: 3rem;
}

.restaurants_heart .far {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #353535;
}

.restaurants_heart .fas {
  position: absolute;
  top: 0px;
  right: 0px;
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.4s;
}

.fas:hover {
  opacity: 1;
}

.uppercase {
  text-transform: uppercase;
  margin-left: 4%;
}

.menu_contenu {
  width: 90%;
  padding-right: 0px;
  background-color: #ffffff;
  margin-bottom: 1.5rem;
  margin-left: 5%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.menudescription {
  padding: 0.7rem;
  padding-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.h5 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_contenu:hover .check {
  margin-right: 0;
}
.menu_contenu:hover i {
  animation-name: checkspin;
  animation-duration: 0.5s;
}

.menu_miseenpage {
  animation: apparitionmenu 1.5s ease-out;
  animation-fill-mode: backwards;
}

.delay1 {
  animation-delay: 200ms;
}

.delay2 {
  animation-delay: 600ms;
}

.delay3 {
  animation-delay: 1s;
}

@keyframes apparitionmenu {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.check {
  background-color: #99e2d0;
  color: #99e2d0;
  width: 4rem;
  padding: 0px;
  margin-right: -4rem;
  transition: margin-right 0.6s;
  display: grid;
  place-items: center;
}
.check i {
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}

@keyframes checkspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lienresto {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  color: black;
}
.lienresto:hover {
  transform: scale(1.2);
}

.h3 {
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #7b7b7b;
  position: relative;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  margin-left: 6%;
}
.h3::after {
  content: "";
  height: 0.25rem;
  width: 2.5rem;
  background-color: #99e2d0;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}

.h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.price {
  font-weight: 1.1rem;
  margin-top: 1.5rem;
  font-weight: 600;
  padding-right: 1rem;
}

.price_check {
  display: flex;
  padding: 0px;
}

.btn_command {
  width: 45%;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  margin: auto;
  text-align: center;
  margin-top: 4rem;
  border-radius: 3rem;
  border: none;
  box-shadow: 1px 0 0.5rem #7e7e7e;
  background-image: linear-gradient(#ff79da, #9356dc);
}
.btn_command:hover {
  transform: scale(1.05);
  transition: 350ms;
  cursor: pointer;
}

btn_note {
  position: absolute;
  bottom: 3rem;
}

@media only screen and (min-width: 720px) {
  .restaurants_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 4rem;
  }
  .restaurants_cards {
    width: 44%;
    height: 310px;
    margin-bottom: 3rem;
  }
  .restaurants_cards img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 990px) {
  .explorateur_container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .tutoriel_container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .tuto li {
    width: 28%;
    margin: auto;
    margin-top: 2rem;
  }
  .restaurants-container {
    max-width: 1600px;
    margin: 0 auto;
  }
  /* Pages restaurant */
  .container_img_resto {
    object-fit: cover;
  }
  .lienresto {
    margin-left: 5%;
  }
  .menu_container {
    margin: -60px auto 0 auto;
  }
  .entreeplatdessert {
    display: flex;
    margin-left: 1.5%;
  }
  .resp {
    width: 28%;
    margin-left: 2.8rem;
  }
  .restaurants_heart {
    margin-right: 5%;
  }
  .footer_container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
/* LOADER */
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  height: 100%;
  background-color: whitesmoke;
  z-index: 1;
  opacity: 0.9;
  animation: disparitionflou 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.loader:after {
  content: "";
  height: 150px;
  width: 150px;
  border-radius: 5rem;
  border-top: 8px solid #9356dc;
  border-bottom: 8px solid #ff79da;
  animation: spin 2s infinite linear;
}

@keyframes disparitionflou {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
  0% {
    width: 100%;
    height: 100%;
  }
  99% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
