
@media only screen and (min-width: 990px) 
{
    h2 {
        margin-left: 3%;
    }

    .tuto li {
        width: 28%;
        margin-left: 3%;
        margin: auto;
        margin-top: 2rem;
    }

    .restaurants_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;        
        flex-wrap: wrap;
        width: 100%;
    }

    .restaurants_cards {
        width: 48%;
        max-height: 340px;
    }

    .restaurants_cards img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }


    /* Pages restaurant */


    .container_img_resto {
        object-fit: cover;
    }

    .lienresto {
        margin-left: 5%;
    }

    
    .menu_container {
        margin: -60px auto 0 auto;
    }

    h2 {
        margin: auto;
    }

    .entreeplatdessert {
        display: flex;

        margin-left: 1.5%;
    }

    .resp {
        width: 28%;
        margin-left: 2.8rem;
    }


}