
@media only screen and (min-width: 990px) 
{
    .explorateur_container {
        @include respdesk;
    }

    .tutoriel_container {
        @include respdesk;
    }

    .tuto li {
        width: 28%;
       
        margin: auto;
        margin-top: 2rem;
    }


    .restaurants-container {
        @include respdesk;
    }   

    /* Pages restaurant */

    .container_img_resto {
        object-fit: cover;
    }

    .lienresto {
        margin-left: 5%;
    }

    .menu_container {
        margin: -60px auto 0 auto;
    }

    .entreeplatdessert {
        display: flex;

        margin-left: 1.5%;
    }

    .resp {
        width: 28%;
        margin-left: 2.8rem;
    }

    .restaurants_heart {
        margin-right: 5%;
    }

    .footer_container {
        @include respdesk;
    }

    /* pages restos */

    .menu_container1 {
        @include respdesk;

    }

    .footer_restos {
        @include respdesk;
    }

}
