.localite {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    background-color: $grisfonce;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: $shadow;
}

.explorateur {
    height: 23rem;
    padding-top: 2.6rem;
    text-align: center;
    background-color: $grisclair;
    & h2 {
        font-weight: bold;
        font-size: 1.7rem;
    }
    & p {
        font-size: 1.1rem;
        color: $ecrituregris;
        margin-top: 1.5rem;
    }
}

.explorateur_btn {
    width: 75%;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin-top: 3rem;
    border-radius: 3rem;
    border: none;
    box-shadow: $shadow;
    @include degrade;
}

.explorateur_btn:hover {
    transform: scale(1.06);
    transition: 300ms;
    cursor: pointer;
}

.tutoriel {
    padding: 3rem 0;
    
    
    & h2 {
        font-weight: bold;
        font-size: 1.7rem;
        padding-left: 2rem;
        padding-bottom: 1.8rem;
}
}

.tuto {
    display: flex;
    flex-wrap: wrap;
}


.tutoriel_text {
    text-align: center;
}

.tuto li {
    display: flex;
    width: 88%;
    margin-left: 8%;
    padding: 1.5rem;
    padding-left: 2rem;   
    font-size: 1.2rem;
    background-color: $grisclair;
    border-radius: 1.5rem; 
    box-shadow: $shadow;

    &:hover {
        cursor: pointer;
        background-color: #f5edff;
        transform: scale(1.04);
        transition: 300ms;
        .i_tuto {
            color: $violet;
        }
    }

    & .i_tuto {
        :hover {
            color: $violet;
        }
    }
}

.interv {
    margin-bottom: 1.5rem;
}

.bb {
    display: flex;
    position: absolute;
    gap: 1rem;
}

.tuto .number {
    background-color: $violet;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 1rem;
    color: white;
    border-radius: 100%;
    text-align: center;
    position: relative;
    left: -3rem;
}

.restaurants {
    width: 100%;
    background-color: $grisclair;
    padding-top: 1rem;
    margin-top: 0px;
    
    & h2 {
        font-weight: bold;
        font-size: 1.7rem;
        padding-left: 1.8rem;
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;   
}
}

.h2 {
    margin-left: 2.5%;
}

.restaurants_container {
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.restaurants_contenu {
    position: relative;
}

.restaurants_contenu p {
    color: $ecrituregris;
    font-size: 1.3rem;
}

.menu_contenu {
    box-shadow: $shadow;
}

.test {
    box-shadow: $shadow;
}


.index_heart {
    position: absolute;
   bottom: 0rem;
    right: 0rem;
    padding-right: 2rem;
}


.index_heart .far {
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;
    color: $noir;
}

.index_heart .fas {
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;
    color: transparent;
    background-image: linear-gradient($rose,$violet);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 0.4s;
}

.fas:hover {
    opacity: 1;
}

.restaurants_cards {
    width: 88%;
    height: 10%;
    height: 400px;
    background-color: white;
    border-radius: 2.5rem;
    margin-bottom: 2.5rem; 
    position: relative;
    object-fit: cover;
    cursor: pointer;
    box-shadow: $shadow;
    text-decoration: none;

    &:hover {
        transform: scale(1.04);
        transition: 400ms;
    }
}

.restaurants_cards_textensemble {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 1.2rem;
    padding-top: 0.6rem;
}

.restaurants_cards_img {
    height: 73%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.restaurants_contenu h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: $noir;
}


/* Mention NOUVEAU */

.restaurants_mention {
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    width: 100px;
    height: 10%;
    padding-top: 0.3rem;
    background-color: $vertclair;
    color: $vert;
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
}