@mixin degrade {
    background-image: linear-gradient(#ff79da,#9356dc);
}

@mixin img_restos {
    width: 100%;
    height: 20rem;
    background-size: cover;
}

@mixin respdesk {
    max-width: 1600px;
    margin: 0 auto;
}

@mixin shadowbutton {
    opacity: 0.8;
    box-shadow: $shadowhover;
}