
.container_img_resto1 {
    @include img_restos;
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.container_img_resto2 {
    @include img_restos;
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.container_img_resto3 {
    @include img_restos;
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.container_img_resto4 {
    @include img_restos;
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.container_img_resto img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.menu_container {
    width: 100%;
    background-color: #f6f6f6;
    margin-top: -60px;
    border-radius: 3rem 3rem 0 0; 
    padding-bottom: 4rem;  
}

.resto_titreglob {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: "Shrikhand";
    font-size: 1.7rem;
    & h2 {
        font-family: "Shrikhand"; 
        margin-left: 8%;  
        margin-top: 2rem; 
    }
}

.restaurants_heart {
    
    width: auto;
    height: auto;
    position: absolute;   
    top: 2.3rem;
    right: 3rem;
}

.restaurants_heart .far {
    position: absolute;
    top: 0px;
    right: 0px;
    color: $noir;
}

.restaurants_heart .fas {
    position:  absolute;
    top: 0px;
    right: 0px;
    color: transparent;
    background-image: linear-gradient($rose,$violet);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 0.4s;
}

.fas:hover {
    opacity: 1;
}

.uppercase {
    text-transform: uppercase;
    margin-left: 4%;
}

.menu_contenu {
    width: 90%;
    padding-right: 0px;
    background-color: #ffffff;
    margin-bottom: 1.5rem;
    margin-left: 5%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    overflow: hidden;
    cursor: pointer;    
}

.menudescription {
    padding: 0.7rem; 
    padding-right: 1rem;   
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.h4 {
    overflow: hidden; 
    text-overflow: ellipsis;
}

.h5 {
    overflow: hidden; 
    text-overflow: ellipsis;
}

.menu_contenu {
    &:hover { 
        .check {
            margin-right: 0;
        }

        i {
            animation-name: checkspin;
            animation-duration:  0.5s;
        }
    }
}

.menu_miseenpage {
    animation: apparitionmenu 1.5s ease-out;
    animation-fill-mode: backwards;    
}

.delay1 {
    animation-delay: 200ms;
}

.delay2 {
    animation-delay: 600ms;
}

.delay3 {
    animation-delay: 1s;
}

  
@keyframes apparitionmenu {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.check {
    background-color: #99e2d0;
    color: #99e2d0;
    width: 4rem;
    padding: 0px;
    margin-right: -4rem;
    transition: margin-right 0.6s;
    display: grid;
    place-items: center;

    i {
        display: grid;
        place-items: center;
        background-color: white;
        border-radius: 1rem;
        padding: 0.5rem;
    }
}    
 
@keyframes checkspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.lienresto {
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    color: black;
    &:hover {
        transform: scale(1.2);
    }
}

.h3 {
    font-family: "Roboto";
    font-size: 1.2rem;
    color: #7b7b7b;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    margin-left: 6%;

    &::after {
        content: "";
        height: 0.25rem;
        width: 2.5rem;
        background-color: #99e2d0;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
    }
}

.h4 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}
.price {
    /*font-weight: 1.1rem;*/
    margin-top: 1.5rem;
    font-weight: 600;
    padding-right: 1rem;
}

.price_check {
    display: flex;
    padding: 0px; 
}

.btn_command {
    width: 45%;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
    border-radius: 3rem;
    border: none;
    box-shadow: $shadow;
    transition: box-shadow 0.3s ease-out;
    @include degrade;

    &:hover {
    transform: scale(1.05);
    transition: 350ms;
    cursor: pointer;
    @include shadowbutton;
}
}

btn_note {
    position: absolute;
    bottom: 3rem;
}