/*couleurs*/

$violet: #9356dc;
$rose: #ff79da;
$vert: #008766;
$vertclair: #99e2d0;
$grisfonce: #eaeaea;
$grisclair: #f6f6f6;
$noir: #353535;
$ecrituregris: #606060;


$shadow: 0 0 8px rgba(18, 18, 18, 0.5);
$shadowhover: 0 0 12px rgba(18, 18, 18, 0.8);