@import "_variables.scss";
@import "_mixins.scss";
@import "_layout.scss";
@import "_home.scss";
@import "_restaurant.scss";
@import "_tablet.scss";
@import "_desktop.scss";



/* TODO 


- couleur boutons du tuto au rollover

*/



/* LOADER */@at-root

.loader {
    position: fixed;
    display: grid;
    place-items: center;
    inset: 0;
    height: 100%;
    background-color: whitesmoke;
    z-index: 1;
    opacity: 0.9;
    animation: disparitionflou 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.loader:after {
    content: "";
    height: 150px;
    width: 150px;
    border-radius: 5rem;
   /* border: 8px solid #eaeaea;*/
    border-top: 8px solid $violet;
    border-bottom: 8px solid $rose;
    animation: spin 2s infinite linear;
}

@keyframes disparitionflou {
    from {opacity: 0.9;}
    to {opacity: 0;}
    0% {
        width: 100%;
        height: 100%;
    }
    99% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 0;
        height: 0;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



