
body {
    margin: opx;
}
header {
    height: 4rem;
    text-align: center;
    box-shadow: 0 0 0.5rem #7e7e7e;
    position: relative;
}

.header_logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 2rem;
    padding-top: 0.5rem;
}

main {
    font-family: "Roboto", sans-serif;
}

.localite {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    background-color: rgba(234, 234, 234, 255);
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem;
    padding-top: 1rem;
}

.explorateur {
    height: 23rem;
    padding-top: 2.6rem;
    text-align: center;
    background-color: #f6f6f6;
    & h2 {
        font-weight: bold;
        font-size: 1.7rem;
    }
    & p {
        font-size: 1.1rem;
        color: #5c5857;
        margin-top: 1.5rem;
    }
}

.explorateur_btn {
    width: 75%;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin-top: 3rem;
    border-radius: 3rem;
    border: none;
    box-shadow: 2px 2px 2px 1.5px grey;
    background-image: linear-gradient(#ff79da,#9356dc);
}

.explorateur_btn:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.tutoriel {
    height: 30rem;
    padding-top: 3rem;
    
    
    & h2 {
        font-weight: bold;
        font-size: 1.7rem;
        padding-left: 2rem;
        padding-bottom: 1.8rem;
}
}

.tutoriel_text {
  text-align: center;
}

.bb3 {
    background-color: #f5edff;
}

.tuto li {
    display: flex;
    width: 92%;
    margin-left: 6%;
    padding: 1.7rem;
    padding-left: 2rem;
    margin-bottom: 7rem;
    font-size: 1.2rem;
    background-color: #eeeded;
    margin-bottom: 10px;
    border-radius: 1.5rem;  
}

.bb {
    display: flex;
    position: absolute;
    gap: 1rem;
}

.tuto .number {
    background-color: #9356dc;
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1rem;
    color: white;
    border-radius: 100%;
    text-align: center;
    position: relative;
    left: -3rem;
}

#restaurants {
    width: 100%;
    height: 90rem;
    background-color: #f6f6f6;
    padding-top: 2rem;
    margin-top: 0px;
    
    & h2 {
        font-weight: bold;
        font-size: 1.7rem;
        padding-left: 1.8rem;
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;   
}
}

.restaurants_container {
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.restaurants_contenu {
    position: relative;
}

.restaurants_contenu p {
    color: #606060;
    font-size: 1.3rem;
}


.far {
    position: absolute;
    bottom: 2rem;
    right: 2.3rem;
    color: #353535;
}

.fas {
    position: absolute;
    bottom: 2rem;
    right: 2.3rem;
    color: transparent;
    background-image: linear-gradient(#ff79da,#9356dc);
    background-clip: text;
    opacity: 0;
    transition: all 0.5s;
}

.fas:hover {
    opacity: 1;
}

.restaurants_cards {
    width: 92%;
    height: 23%;
    background-color: white;
    border-radius: 2.5rem;
    margin-bottom: 1.5rem; 
    position: relative;
    cursor: pointer;
}

.restaurants_cards_img {
    height: 73%;
    width: 100%;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.restaurants_cards_footer {
    display: flex;
    justify-content: space-between;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-bottom: 1.2rem;
    padding-top: 0.6rem;
}

.restaurants_contenu h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}


.restaurants_mention {
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    width: 100px;
    height: 10%;
    padding-top: 0.3rem;
    background-color: #99e2d0;
    color: #008766;
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
}

.cardmention {
    text-decoration: none;
}


/* FOOTER */

.footer {
    width: 100%;
    height: 16rem;
    color: white;
    background-color: #353535;
    padding: 1.2rem;
    padding-left: 1.4rem;
    font-family: "Roboto";
    
}

footer h4 {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}
   
.cc {
    font-size: 1.2rem;
    list-style-type: none;
    line-height: 2rem;
}

.decorationnone {
    text-decoration: none;
    color: white;
}

.space {
    margin-right: 1rem;
}

.lienfooter {
    margin-bottom: 1.5rem;
}

/* LOADER */@at-root

.loader {
    position: fixed;
    display: grid;
    place-items: center;
    inset: 0;
    height: 100%;
    background-color: whitesmoke;
    z-index: 1;
    opacity: 0.9;
    animation: disparitionflou 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.loader:after {
    content: "";
    height: 150px;
    width: 150px;
    border-radius: 5rem;
   /* border: 8px solid #eaeaea;*/
    border-top: 8px solid #9356dc;
    border-bottom: 8px solid #ff79da;
    animation: spin 2s infinite linear;
}

@keyframes disparitionflou {
    from {opacity: 0.9;}
    to {opacity: 0;}
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* a la francaise ****************************************************/

main {
    font-family: "Roboto";
}

.container_img_resto {
    width: 100%;
    height: 20rem;
    background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu_container {
    position: absolute;
    height: 80rem;
    width: 100%;
    background-color: #f6f6f6;
    margin-top: -4rem;
    padding-top: 1.8rem;
    padding-left: 1.5rem;
    border-radius: 3rem 3rem 0 0;   
}

.resto_titreglob {
    display: flex;
    justify-content: space-between;

    font-family: "Shrikhand";
    font-size: 1.7rem;
    & h2 {
        font-family: "Shrikhand";    
    }
}

.uppercase {
    text-transform: uppercase;
}

.menu_contenu {
    width: 96%;
    padding-right: 0px;
    background-color: #ffffff;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    overflow: hidden;
    
    text-overflow: ellipsis;
    wrap: nowrap;
}

    .menudescription {
        padding: 0.7rem;
   } 

    &:hover { 
        .check {
        margin-right: 0;
    }

    i {
        animation-name: checkspin;
        animation-duration:  0.5s;
    }
}
}

.menu_miseenpage {
    animation: apparitionmenu 1.5s ease-out;
    animation-fill-mode: backwards;

    
}

.delay1 {
    animation-delay: 200ms;
}

.delay2 {
    animation-delay: 600ms;
}

.delay3 {
    animation-delay: 1s;
}

  
@keyframes apparitionmenu {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.check {
    background-color: #99e2d0;
    color: #99e2d0;
    width: 4rem;
    padding: 0px;
    margin-right: -4rem;
    transition: margin-right 0.6s;
    display: grid;
    place-items: center;

    i {
        display: grid;
        place-items: center;
        background-color: white;
        border-radius: 1rem;
        padding: 0.5rem;
    }
}    



@keyframes checkspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




.lienresto {
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    color: #101010;
}

.h3 {
    font-family: "Roboto";
    font-size: 1.2rem;
    color: #7b7b7b;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2.5rem;

    &::after {
        content: "";
        height: 0.25rem;
        width: 2.5rem;
        background-color: #99e2d0;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
    }
}

.h4 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}
.price {
    font-weight: 1.1rem;
    margin-top: 1.5rem;
    font-weight: 600;
    padding-right: 1rem;
}

.price_check {
    display: flex;
    padding: 0px; 
}



.btn_command {
    width: 45%;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
    border-radius: 3rem;
    border: none;
    box-shadow: 2px 2px 2px 1.5px grey;
    background-image: linear-gradient(#ff79da,#9356dc);
}

.btn_command:hover {
    transform: scale(1.03);
    cursor: pointer;
}


.footerpb {
    margin-top: 76rem;
    z-index: 3;
}



